<div mat-dialog-content>
 <mat-card class="dialog-card">
  <mat-card-header>
    <div mat-card-avatar class = "{{detailDialogModel.matCardAvatarClass}}"></div>
    <mat-card-title>{{detailDialogModel.matCardTitle}}</mat-card-title>
    <mat-card-subtitle>{{detailDialogModel.matCardSubTitle}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{detailDialogModel.matCardContent}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="close()">close</button>
  </mat-card-actions>
</mat-card>
</div>
