<!-- Header -->
<div class=" gsphomeheader">
  <div class="container gsptextinimage">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-8">
        <img  class="gspheaderimage" src="../../assets/images/gsplogo.png">
      </div>
    </div>
  </div>
</div>

<!-- /.container -->
<div class="gspparagraph">
  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-8">
        <p class="gsptitlefont">{{'HAFTUNGSAUSSCHLUSS' | translate | uppercase}} </p>
        <p>{{'HAFTP1' | translate}}</p>
        <p>{{'HAFTP2' | translate}}</p>
      </div>
    </div>
  </div>
</div>
