<!-- Header -->
<div class=" container gsphomeheader">
  <div class="container gsptextinimage">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <img src="../../assets/images/gsplogo.png">
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>

<!-- /.container -->
<div class="container gspparagraph">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <p class="gsptitlefont">{{'INTERNATIONAL' | translate | uppercase}} </p>
    </div>
  </div>
</div>
