<!-- Header -->
<div class=" gspinternationalheader">
  <div class="container gsptextinimage_pos">
    <div class="row">
      <div class="col-md-8">
        <img  style="width: 327px" src="../../assets/images/gs_logo_home_kontakt.png">
      </div>
    </div>
  </div>
</div>

<!-- /.container -->
<div class="gspparagraph" style="background-color: rgb(255,255,255)">
  <div class="container ">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-8">
        <p class="gsptitlefont">{{'INTERNATIONAL' | translate | uppercase}} </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-9">
        <p>{{'INTP0' | translate}} </p>
        <p>{{'INTP1' | translate}} </p>
        <p>{{'INTP2' | translate}} </p>
      </div>
    </div>
  </div>
</div>
