@import "../app.component.scss";

.gspinternationalheader {
  height: 450px;
  background-image: url("../../assets/images/header/header_international.jpg");
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  padding-top: 30px;
}
