<!-- Header -->
<div class="gsphomeheader">
  <div class="container gsptextinimage">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-8">
        <img  class="gspheaderimage" src="../../assets/images/gsplogo.png">
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>

<!-- /.container -->
<div class=" gspparagraph">
  <div class="container ">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-8">
        <p class="gsptitlefont">{{'DATINF' | translate | uppercase}} </p>
        <h3>{{'DATH1' | translate}}</h3>
        <p>{{'DATP11' | translate}}</p>
        <p>{{'DATP12' | translate}}</p>
        <p>{{'DATP13' | translate}}</p>
        <p>{{'DATP14' | translate}}</p>
        <p>{{'DATP15' | translate}}</p>
        <h3>{{'DATH2' | translate}}</h3>
        <p>{{'DATP21' | translate}}</p>
        <p>{{'DATP22' | translate}}</p>
        <p>{{'DATP23' | translate}}</p>
        <p>{{'DATP24' | translate}}</p>
        <h3>{{'DATH3' | translate}}</h3>
        <p>{{'DATP31' | translate}}</p>
        <p>{{'DATP32' | translate}}</p>
        <p>{{'DATP33' | translate}}</p>
        <h3>{{'DATH4' | translate}}</h3>
        <p>{{'DATP41' | translate}}</p>
        <h3>{{'DATH5' | translate}}</h3>
        <p>{{'DATP51' | translate}}</p>
        <p>{{'DATP52' | translate}}</p>
        <p>{{'DATP53' | translate}}</p>
        <h3>{{'DATH6' | translate}}</h3>
        <p>{{'DATP61' | translate}}</p>
        <h3>{{'DATH7' | translate}}</h3>
        <p>{{'DATP71' | translate}}</p>
        <h3>{{'DATH8' | translate}}</h3>
        <p>{{'DATP81' | translate}}</p>
        <address>
          <strong>GARGER SPALLINGER Rechtsanwälte GmbH</strong><br>
          Porzellangasse 39 A-1090 Wien<br>
          Tel: +43-1-319 94 70,
          Fax: +43-1-319 94 70-70<br/>
          <a href="mailto:office@gsplegal.at">Email: office(AT)gsplegal.at </a>
        </address>
      </div>
    </div>
  </div>
</div>
