<!-- Header -->
<div class=" gsphomeheader">
  <div class="container gsptextinimage_pos">
    <div class="row">
      <div class="col-md-8">
        <img class="gspheaderimage" src="../../assets/images/gs_logo_home_kontakt.png">
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>

<!-- /.container -->
<div class="gspparagraph">
  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-8">
        <p class="gsptitlefont">{{'KONTAKT' | translate | uppercase}} </p>
        <address>
          <strong>GARGER SPALLINGER Rechtsanwälte GmbH</strong><br>
          Biberstraße 22, A-1010 Wien<br>
          Tel: +43-1-319 94 70,
          Fax: +43-1-319 94 70-70<br/>
          <a href="mailto:office@gsplegal.at">Email: office(AT)gsplegal.at </a>
        </address>
      </div>
    </div>
  </div>
</div>


<div class="gspparagraph" style="background-color: rgb(255,255,255)">
  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-8">
        <p class="gsptitlefont">{{'ANFAHRT' | translate | uppercase}} </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div>{{'ANFP1' | translate}} </div>
        <div>{{'ANFP2' | translate}} </div>
        <div>{{'ANFP3' | translate}} </div>
      </div>
    </div>
  </div>
</div>

<div class=" gspanfahrt">
  <div class="container gsptextinimage_pos">
  </div>
</div>
