<div mat-dialog-content #matdialogcontent>
 <mat-card class="dialog-card">
  <mat-card-header>

    <div mat-card-avatar class="dialog-header"></div>
    <mat-card-title>
                MMag. Dr. Bernhard GARGER
    </mat-card-title>
    <mat-card-subtitle *ngIf="isGerman()">Rechtsanwalt, Partner</mat-card-subtitle>
    <mat-card-subtitle *ngIf="!isGerman()">Attorney-at-Law / Rechtsanwalt, Partner</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content style = "margin-left: 20px; overflow: hidden">
      <span *ngIf="isGerman()">
        <div class=WordSection1>


<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:1.0cm'><b><span lang=DE-AT style='font-size:12.0pt;line-height:
115%;font-family:"Arial",sans-serif'>E</span></b><span lang=DE-AT
                                                       style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>
bgarger(AT)gsplegal.at</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:1.0cm'><b><span lang=DE-AT style='font-size:12.0pt;line-height:
115%;font-family:"Arial",sans-serif'>T</span></b><span lang=DE-AT
                                                       style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'> +43 1
319 94 70</span></p>

<p class=MsoNormalIndent style='margin-left:1.0cm'><b><span lang=DE-AT
                                                            style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>F </span></b><span
        lang=DE-AT style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>+43
1 319 94 70-70</span></p>

<p class=MsoNormalIndent style='margin-left:1.0cm'><span lang=DE-AT
                                                         style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif;
color:#004439'>Beratungsschwerpunkte</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.05pt;text-indent:-17.85pt'><span lang=DE-AT
                                                    style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>§<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Unternehmens-
und Gesellschaftsrecht</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.05pt;text-indent:-17.85pt'><span lang=DE-AT
                                                    style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>§<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Umgründungen
und Umstrukturierungen</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.05pt;text-indent:-17.85pt'><span lang=DE-AT
                                                    style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>§<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Merger
&amp; Acquisitions</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.05pt;text-indent:-17.85pt'><span lang=DE-AT
                                                    style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>§<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Versicherungsrecht</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.05pt;text-indent:-17.85pt'><span lang=DE-AT
                                                    style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>§<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Stiftungsrecht</span></p>

<p class=MsoNormalIndent style='margin-left:64.35pt;text-indent:-18.0pt'><span
        lang=DE-AT style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>§<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Arbeitsrecht</span></p>

<p class=MsoNormalIndent style='margin-left:1.0cm'><span lang=DE-AT
                                                         style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif;
color:#004439'>Sprachen</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.05pt;text-indent:-17.85pt'><span lang=DE-AT
                                                    style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>§<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Deutsch</span></p>

<p class=MsoNormalIndent style='margin-left:64.35pt;text-indent:-18.0pt'><span
        lang=DE-AT style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>§<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Englisch</span></p>

<p class=MsoNormalIndent style='margin-left:1.0cm'><span lang=DE-AT
                                                         style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif;
color:#004439'>Ausbildung</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.35pt;text-indent:-18.0pt'><span lang=DE-AT style='font-size:
12.0pt;line-height:115%;font-family:Wingdings'>§<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span></span><span lang=DE-AT style='font-size:12.0pt;line-height:115%;
font-family:"Arial",sans-serif'>Studium der Rechtswissenschaften, Universität
Wien (Mag. iur. 1990, Dr. iur. 1995)</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.35pt;text-indent:-18.0pt'><span lang=DE-AT style='font-size:
12.0pt;line-height:115%;font-family:Wingdings'>§<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span></span><span lang=DE-AT style='font-size:12.0pt;line-height:115%;
font-family:"Arial",sans-serif'>Studium der Betriebswirtschaftslehre,
Wirtschaftsuniversität Wien (Mag. rer. soc. oec. 1998)</span></p>

<p class=MsoNormalIndent style='margin-left:64.35pt;text-indent:-18.0pt'><span
        lang=DE-AT style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>§<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Studium
an der Hochschule St. Gallen (1991-1992)</span></p>

<p class=MsoNormal><span lang=DE-AT>&nbsp;</span></p>

</div>
      </span>
       <span *ngIf="!isGerman()">

<div class=WordSection1>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:1.0cm'><b><span style='font-size:12.0pt;line-height:115%;
font-family:"Arial",sans-serif'>E</span></b><span style='font-size:12.0pt;
line-height:115%;font-family:"Arial",sans-serif'> bgarger(AT)gsplegal.at</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:1.0cm'><b><span style='font-size:12.0pt;line-height:115%;
font-family:"Arial",sans-serif'>T</span></b><span style='font-size:12.0pt;
line-height:115%;font-family:"Arial",sans-serif'> +43 1 319 94 70</span></p>

<p class=MsoNormalIndent style='margin-left:1.0cm'><b><span lang=EN-US
                                                            style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>F </span></b><span
        lang=EN-US style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>+43
1 319 94 70-70</span></p>

<p class=MsoNormalIndent style='margin-left:1.0cm'><span lang=EN-US
                                                         style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif;
color:#004439'>Core areas of competence</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.05pt;text-indent:-17.85pt'><span lang=DE-AT
                                                    style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>§<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Corporate
and Commercial Law</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.05pt;text-indent:-17.85pt'><span lang=DE-AT
                                                    style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>§<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Reorganizations
and Restructurings</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.05pt;text-indent:-17.85pt'><span lang=DE-AT
                                                    style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>§<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Merger
&amp; Acquisitions</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.05pt;text-indent:-17.85pt'><span lang=DE-AT
                                                    style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>§<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Insurance
Law</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.05pt;text-indent:-17.85pt'><span lang=DE-AT
                                                    style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>§<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Foundation
Law</span></p>

<p class=MsoNormalIndent style='margin-left:64.35pt;text-indent:-18.0pt'><span
        lang=DE-AT style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>§<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Labor
Law</span></p>

<p class=MsoNormalIndent style='margin-left:1.0cm'><span lang=DE-AT
                                                         style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif;
color:#004439'>Languages</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.05pt;text-indent:-17.85pt'><span lang=DE-AT
                                                    style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>§<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>German</span></p>

<p class=MsoNormalIndent style='margin-left:64.35pt;text-indent:-18.0pt'><span
        lang=DE-AT style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>§<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>English</span></p>

<p class=MsoNormalIndent style='margin-left:1.0cm'><span lang=DE-AT
                                                         style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif;
color:#004439'>Education</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.35pt;text-indent:-18.0pt'><span lang=EN-US style='font-size:
12.0pt;line-height:115%;font-family:Wingdings'>§<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span></span><span lang=EN-US style='font-size:12.0pt;line-height:115%;
font-family:"Arial",sans-serif'>University degree in Law, University of Vienna
(Mag. iur. 1990, Dr. iur. 1995)</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.35pt;text-indent:-18.0pt'><span lang=EN-US style='font-size:
12.0pt;line-height:115%;font-family:Wingdings'>§<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span></span><span lang=EN-US style='font-size:12.0pt;line-height:115%;
font-family:"Arial",sans-serif'>University degree in Business Administration,
Vienna Business University (Mag.rer.soc.oec. 1998)</span></p>

<p class=MsoNormalIndent style='margin-left:64.35pt;text-indent:-18.0pt'><span
        lang=EN-US style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>§<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=EN-US
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Studies
at the University of St. Gallen (1991-1992)</span></p>

<p class=MsoNormalIndent style='margin-left:1.0cm'><span lang=DE-AT
                                                         style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif;
color:#004439'>Professional Background</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.35pt;text-indent:-18.0pt'><span lang=DE-AT style='font-size:
12.0pt;line-height:115%;font-family:Wingdings'>§<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span></span><span lang=DE-AT style='font-size:12.0pt;line-height:115%;
font-family:"Arial",sans-serif'>Partner with GARGER SPALLINGER Rechsanwälte
GmbH since 2010</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.35pt;text-indent:-18.0pt'><span lang=EN-US style='font-size:
12.0pt;line-height:115%;font-family:Wingdings'>§<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span></span><span lang=EN-US style='font-size:12.0pt;line-height:115%;
font-family:"Arial",sans-serif'>Admitted as Attorney-at-Law (<i>Rechtsanwalt</i>)
in Austria since 2005</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.35pt;text-indent:-18.0pt'><span lang=EN-US style='font-size:
12.0pt;line-height:115%;font-family:Wingdings'>§<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span></span><span lang=EN-US style='font-size:12.0pt;line-height:115%;
font-family:"Arial",sans-serif'>Associate with renowned commercial law firms</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.35pt;text-indent:-18.0pt'><span lang=EN-US style='font-size:
12.0pt;line-height:115%;font-family:Wingdings'>§<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span></span><span lang=EN-US style='font-size:12.0pt;line-height:115%;
font-family:"Arial",sans-serif'>Tax Manager in a renowned international
auditing and tax consulting firm</span></p>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

</div>
       </span>


  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>
</div>
