<div mat-dialog-content #matdialogcontent class="gspmatdialogcontent">
 <mat-card class="dialog-card">
  <mat-card-header>

    <div mat-card-avatar class="dialog-header"></div>
    <mat-card-title style = "width: 100%">
        <span  fxLayout="row" fxLayoutAlign="space-between center">
            <p class=MsoNormalIndent><span lang=EN-US
                                           style='font-size:14.0pt;line-height:115%;font-family:"Arial",sans-serif;
color:#004439'>Patrick STEINDL, LL.M. (WU)</span></p>
            <span> <button (click)="onClose()" class="normal" [title]="gpsTS.isGerman()?'schliessen' : 'close'"><fa-icon  size="xs" [icon]="faXmark"></fa-icon></button> </span>
        </span>
    </mat-card-title>
       <mat-card-subtitle *ngIf="gpsTS.isGerman()">Rechtsanwalt</mat-card-subtitle>
    <mat-card-subtitle *ngIf="!gpsTS.isGerman()">Attorney-at-Law / Rechtsanwalt</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content style = "margin-left: 20px; overflow: hidden">
      <span *ngIf="gpsTS.isGerman()">

<div class=WordSection1>




<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:1.0cm'><b><span lang=DE-AT style='font-size:12.0pt;line-height:
115%;font-family:"Arial",sans-serif'>E</span></b><span lang=DE-AT
                                                       style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>
     <a href="mailto:psteindl@gsplegal.at" class="gspkontakt"> psteindl(AT)gsplegal.at </a>
    </span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:1.0cm'><b><span lang=DE-AT style='font-size:12.0pt;line-height:
115%;font-family:"Arial",sans-serif'>T</span></b><span lang=DE-AT
                                                       style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>
     <a class="gspkontakt" href="tel:+43-1-319-94-70"> +43 1 319 94 70</a>
    </span></p>

<p class=MsoNormalIndent style='margin-left:1.0cm'><b><span lang=DE-AT
                                                            style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>F </span></b><span
        lang=DE-AT style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif' class="gspkontakt">
     +43 1 319 94 70-70
    </span></p>
<p class=MsoNormalIndent style='margin-left:1.0cm'><span lang=DE-AT
                                                         style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif;
color:#004439'>Beratungsschwerpunkte</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.05pt;text-indent:-17.85pt'><span lang=DE-AT
                                                    style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>§<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Unternehmens-
und Gesellschaftsrecht</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.05pt;text-indent:-17.85pt'><span lang=DE-AT
                                                    style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>§<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Umgründungen
und Umstrukturierungen</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.05pt;text-indent:-17.85pt'><span lang=DE-AT
                                                    style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>§<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Merger
&amp; Acquisitions</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.05pt;text-indent:-17.85pt'><span lang=DE-AT
                                                    style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>§<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Vertragsrecht
(national und international)</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.05pt;text-indent:-17.85pt'><span lang=DE-AT
                                                    style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>§<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Zivilrecht</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.05pt;text-indent:-17.85pt'><span lang=DE-AT
                                                    style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>§<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Arbeitsrecht</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.05pt;text-indent:-17.85pt'><span lang=DE-AT
                                                    style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>§<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Gewerberecht</span></p>

<p class=MsoNormalIndent style='margin-left:64.35pt;text-indent:-18.0pt'><span
        lang=DE-AT style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>§<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Streitiges
Verfahren</span></p>

<p class=MsoNormalIndent style='margin-left:1.0cm'><span lang=DE-AT
                                                         style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif;
color:#004439'>Sprachen</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.05pt;text-indent:-17.85pt'><span lang=DE-AT
                                                    style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>§<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Deutsch</span></p>

<p class=MsoNormalIndent style='margin-left:64.35pt;text-indent:-18.0pt'><span
        lang=DE-AT style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>§<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Englisch</span></p>

<p class=MsoNormalIndent style='margin-left:1.0cm'><span lang=DE-AT
                                                         style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif;
color:#004439'>Ausbildung</span></p>

<p class=MsoNormalIndent style='margin-left:64.05pt;text-indent:-17.85pt'><span
        lang=DE-AT style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>§<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Studium
der Rechtswissenschaften, Wirtschaftsuniversität Wien (LL.M. 2016)</span></p>

<p class=MsoNormalIndent style='margin-left:1.0cm'><span lang=DE-AT
                                                         style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif;
color:#004439'>Werdegang</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.35pt;text-indent:-18.0pt'><span lang=DE-AT style='font-size:
12.0pt;line-height:115%;font-family:Wingdings'>§<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span></span><span lang=DE-AT style='font-size:12.0pt;line-height:115%;
font-family:"Arial",sans-serif'>Rechtsanwaltsanwärter bei GARGER SPALLINGER
Rechsanwälte GmbH seit 2021</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.35pt;text-indent:-18.0pt'><span lang=DE-AT style='font-size:
12.0pt;line-height:115%;font-family:Wingdings'>§<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span></span><span lang=DE-AT style='font-size:12.0pt;line-height:115%;
font-family:"Arial",sans-serif'>Rechtsanwaltsanwärter in renommierten
Wirschaftskanzleien</span></p>

<p class=MsoNormalIndent style='margin-left:64.35pt;text-indent:-18.0pt'><span
        lang=DE-AT style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>§<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Juristischer
Mitarbeiter in renommierten Wirschaftskanzleien</span></p>

<p class=MsoNormal><span lang=DE-AT>&nbsp;</span></p>
</div>
      </span>
       <span *ngIf="!gpsTS.isGerman()">

<div class=WordSection1>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:1.0cm'><b><span lang=DE-AT style='font-size:12.0pt;line-height:
115%;font-family:"Arial",sans-serif'>E</span></b><span lang=DE-AT
                                                       style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>
      <a href="mailto:psteindl@gsplegal.at" class="gspkontakt"> psteindl(AT)gsplegal.at </a>
</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:1.0cm'><b><span lang=DE-AT style='font-size:12.0pt;line-height:
115%;font-family:"Arial",sans-serif'>T</span></b><span lang=DE-AT
                                                       style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>
     <a class="gspkontakt" href="tel:+43-1-319-94-70"> +43 1 319 94 70</a>
    </span></p>

<p class=MsoNormalIndent style='margin-left:1.0cm'><b><span lang=DE-AT
                                                            style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>F </span></b><span
        lang=DE-AT style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif' class="gspkontakt">
     +43 1 319 94 70-70
  </span></p>


<p class=MsoNormalIndent style='margin-left:1.0cm'><span lang=EN-US
                                                         style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif;
color:#004439'>Core areas of competence</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.05pt;text-indent:-17.85pt'><span lang=DE-AT
                                                    style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>§<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Corporate
and Commercial Law</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.05pt;text-indent:-17.85pt'><span lang=DE-AT
                                                    style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>§<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Reorganizations
and Restructurings</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.05pt;text-indent:-17.85pt'><span lang=DE-AT
                                                    style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>§<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Merger
&amp; Acquisitions</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.05pt;text-indent:-17.85pt'><span lang=DE-AT
                                                    style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>§<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Contracts
(national and international)</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.05pt;text-indent:-17.85pt'><span lang=DE-AT
                                                    style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>§<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Civil
Law</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.05pt;text-indent:-17.85pt'><span lang=DE-AT
                                                    style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>§<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Labor
Law</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.05pt;text-indent:-17.85pt'><span lang=DE-AT
                                                    style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>§<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Trade
Law</span></p>

<p class=MsoNormalIndent style='margin-left:64.35pt;text-indent:-18.0pt'><span
        lang=DE-AT style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>§<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Litigation</span></p>

<p class=MsoNormalIndent style='margin-left:1.0cm'><span lang=DE-AT
                                                         style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif;
color:#004439'>Languages</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.05pt;text-indent:-17.85pt'><span lang=DE-AT
                                                    style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>§<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>German</span></p>

<p class=MsoNormalIndent style='margin-left:64.35pt;text-indent:-18.0pt'><span
        lang=DE-AT style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>§<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>English</span></p>

<p class=MsoNormalIndent style='margin-left:1.0cm'><span lang=DE-AT
                                                         style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif;
color:#004439'>Education</span></p>

<p class=MsoNormalIndent style='margin-left:64.05pt;text-indent:-17.85pt'><span
        lang=EN-US style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>§<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=EN-US
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>University
degree in Law, Vienna University of Economics and Business (LL.M. 2016)</span></p>

<p class=MsoNormalIndent style='margin-left:1.0cm'><span lang=DE-AT
                                                         style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif;
color:#004439'>Professional Background</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.35pt;text-indent:-18.0pt'><span lang=EN-US style='font-size:
12.0pt;line-height:115%;font-family:Wingdings'>§<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span></span><span lang=EN-US style='font-size:12.0pt;line-height:115%;
font-family:"Arial",sans-serif'>Associate with GARGER SPALLINGER Rechsanwälte
GmbH since 2021</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.35pt;text-indent:-18.0pt'><span lang=EN-US style='font-size:
12.0pt;line-height:115%;font-family:Wingdings'>§<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span></span><span lang=EN-US style='font-size:12.0pt;line-height:115%;
font-family:"Arial",sans-serif'>Associate with renowned commercial law firms</span></p>

<p class=MsoNormalIndent style='margin-left:64.35pt;text-indent:-18.0pt'><span
        lang=EN-US style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>§<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=EN-US
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Paralegal
with renowned commercial law firms</span></p>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>


</div>

       </span>


  </mat-card-content>
</mat-card>
</div>
