<div mat-dialog-content #matdialogcontent class="gspmatdialogcontent">
 <mat-card class="dialog-card">
  <mat-card-header>

    <div mat-card-avatar class="dialog-header"></div>
    <mat-card-title style = "width: 100%">
        <span  fxLayout="row" fxLayoutAlign="space-between center">
            <p class=MsoNormalIndent><span lang=EN-US
                                                                     style='font-size:14.0pt;line-height:115%;font-family:"Arial",sans-serif;
color:#004439'>MMag. FORREST SPALLINGER, LL.M. (Columbia)</span></p>
            <span> <button (click)="onClose()" class="normal" [title]="gpsTS.isGerman()?'schliessen' : 'close'"><fa-icon  size="xs" [icon]="faXmark"></fa-icon></button> </span>
        </span>
    </mat-card-title>
       <mat-card-subtitle *ngIf="gpsTS.isGerman()">Rechtsanwalt, Partner <br/> Attorney-at-Law, New York</mat-card-subtitle>
    <mat-card-subtitle *ngIf="!gpsTS.isGerman()">Attorney-at-Law / Rechtsanwalt, Partner<br/>also admitted as Attorney-at-Law in New York</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content style = "margin-left: 20px; overflow: hidden">
      <span *ngIf="gpsTS.isGerman()">

<div class=WordSection1>




<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:1.0cm'><b><span lang=DE-AT style='font-size:12.0pt;line-height:
115%;font-family:"Arial",sans-serif'>E</span></b><span lang=DE-AT
                                                       style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>
     <a href="mailto:fspallinger@gsplegal.at" class="gspkontakt"> fspallinger(AT)gsplegal.at </a>
    </span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:1.0cm'><b><span lang=DE-AT style='font-size:12.0pt;line-height:
115%;font-family:"Arial",sans-serif'>T</span></b><span lang=DE-AT
                                                       style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>
     <a class="gspkontakt" href="tel:+43-1-319-94-70"> +43 1 319 94 70</a>
    </span></p>

<p class=MsoNormalIndent style='margin-left:1.0cm'><b><span lang=DE-AT
                                                            style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif' >F </span></b><span
        lang=DE-AT style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif' class="gspkontakt">
     +43 1 319 94 70-70
    </span></p>

<p class=MsoNormalIndent style='margin-left:1.0cm'><span lang=DE-AT
                                                         style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif;
color:#004439'>Beratungsschwerpunkte</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.05pt;text-indent:-17.85pt'><span lang=DE-AT
                                                    style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>&bull;<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Unternehmens-
und Gesellschaftsrecht</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.05pt;text-indent:-17.85pt'><span lang=DE-AT
                                                    style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>&bull;<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Umgründungen
und Umstrukturierungen</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.05pt;text-indent:-17.85pt'><span lang=DE-AT
                                                    style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>&bull;<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Merger
&amp; Acquisitions</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.05pt;text-indent:-17.85pt'><span lang=DE-AT
                                                    style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>&bull;<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Grenzüberschreitende
Transaktionen</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.05pt;text-indent:-17.85pt'><span lang=DE-AT
                                                    style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>&bull;<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Vertragsrecht
(national und international)</span></p>

<p class=MsoNormalIndent style='margin-left:64.35pt;text-indent:-18.0pt'><span
        lang=DE-AT style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>&bull;<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Zivilrecht</span></p>

<p class=MsoNormalIndent style='margin-left:1.0cm'><span lang=DE-AT
                                                         style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif;
color:#004439'>Sprachen</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.05pt;text-indent:-17.85pt'><span lang=DE-AT
                                                    style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>&bull;<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Deutsch</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.05pt;text-indent:-17.85pt'><span lang=DE-AT
                                                    style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>&bull;<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Englisch</span></p>

<p class=MsoNormalIndent style='margin-left:64.35pt;text-indent:-18.0pt'><span
        lang=DE-AT style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>&bull;<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Spanisch</span></p>

<p class=MsoNormalIndent style='margin-left:1.0cm'><span lang=DE-AT
                                                         style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif;
color:#004439'>Ausbildung</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.05pt;text-indent:-17.85pt'><span lang=DE-AT
                                                    style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>&bull;<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Studium
der Rechtswissenschaften, Universität Wien (Mag. iur. 2000)</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.05pt;text-indent:-17.85pt'><span lang=DE-AT
                                                    style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>&bull;<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Studium
der Internationalen Betriebswirtschaftslehre, Universität Wien (Mag. rer. soc.
oec 2001)</span></p>

<p class=MsoNormalIndent style='margin-left:64.35pt;text-indent:-18.0pt'><span
        lang=EN-US style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>&bull;<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=EN-US
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>LL.M.-Studium
an der Columbia University School of Law, New York, USA (2002/2003)</span></p>

<p class=MsoNormalIndent style='margin-left:1.0cm'><span lang=DE-AT
                                                         style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif;
color:#004439'>Werdegang</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.35pt;text-indent:-18.0pt'><span lang=DE-AT style='font-size:
12.0pt;line-height:115%;font-family:Wingdings'>&bull;<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span></span><span lang=DE-AT style='font-size:12.0pt;line-height:115%;
font-family:"Arial",sans-serif'>Partner bei GARGER SPALLINGER Rechsanwälte GmbH
seit 2010</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.35pt;text-indent:-18.0pt'><span lang=DE-AT style='font-size:
12.0pt;line-height:115%;font-family:Wingdings'>&bull;<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span></span><span lang=DE-AT style='font-size:12.0pt;line-height:115%;
font-family:"Arial",sans-serif'>Eingetragener Rechtsanwalt seit 2008</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.35pt;text-indent:-18.0pt'><span lang=EN-US style='font-size:
12.0pt;line-height:115%;font-family:Wingdings'>&bull;<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span></span><span lang=EN-US style='font-size:12.0pt;line-height:115%;
font-family:"Arial",sans-serif'>eingetragen als Attorney-at-Law in New York
seit 2005</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.35pt;text-indent:-18.0pt'><span lang=DE-AT style='font-family:
Wingdings'>&bull;<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
        lang=DE-AT style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Rechtsanwalt/-anwärter
in renommierten Wirschaftskanzleien</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.35pt;text-indent:-18.0pt'><span lang=DE-AT style='font-family:
Wingdings'>&bull;<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
        lang=DE-AT style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Österreichisches
Außenministerium</span></p>

</div>
      </span>
       <span *ngIf="!gpsTS.isGerman()">

<div class=WordSection1>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:1.0cm'><b><span lang=DE-AT style='font-size:12.0pt;line-height:
115%;font-family:"Arial",sans-serif'>E</span></b><span lang=DE-AT
                                                       style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>
      <a href="mailto:fspallinger@gsplegal.at" class="gspkontakt"> fspallinger(AT)gsplegal.at </a>
</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:1.0cm'><b><span lang=DE-AT style='font-size:12.0pt;line-height:
115%;font-family:"Arial",sans-serif'>T</span></b><span lang=DE-AT
                                                       style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>
     <a class="gspkontakt" href="tel:+43-1-319-94-70"> +43 1 319 94 70</a>
    </span></p>

<p class=MsoNormalIndent style='margin-left:1.0cm'><b><span lang=DE-AT
                                                            style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>F </span></b><span
        lang=DE-AT style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif' class="gspkontakt">
      +43 1 319 94 70-70
  </span></p>

<p class=MsoNormalIndent style='margin-left:1.0cm'><span lang=DE-AT
                                                         style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif;
color:#004439'>Core areas of competence</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.05pt;text-indent:-17.85pt'><span lang=DE-AT
                                                    style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>&bull;<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Corporate
and Commercial Law</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.05pt;text-indent:-17.85pt'><span lang=DE-AT
                                                    style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>&bull;<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Reorganizations
and Restructurings</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.05pt;text-indent:-17.85pt'><span lang=DE-AT
                                                    style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>&bull;<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Merger
&amp; Acquisitions</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.05pt;text-indent:-17.85pt'><span lang=DE-AT
                                                    style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>&bull;<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Cross-border
transactions</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.05pt;text-indent:-17.85pt'><span lang=DE-AT
                                                    style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>&bull;<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Contracts
(national and international)</span></p>

<p class=MsoNormalIndent style='margin-left:64.35pt;text-indent:-18.0pt'><span
        lang=DE-AT style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>&bull;<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Civil
Law</span></p>

<p class=MsoNormalIndent style='margin-left:1.0cm'><span lang=DE-AT
                                                         style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif;
color:#004439'>Languages</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.05pt;text-indent:-17.85pt'><span lang=DE-AT
                                                    style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>&bull;<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>German</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.05pt;text-indent:-17.85pt'><span lang=DE-AT
                                                    style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>&bull;<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>English</span></p>

<p class=MsoNormalIndent style='margin-left:64.35pt;text-indent:-18.0pt'><span
        lang=DE-AT style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>&bull;<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=DE-AT
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Spanish</span></p>

<p class=MsoNormalIndent style='margin-left:1.0cm'><span lang=DE-AT
                                                         style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif;
color:#004439'>Education</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.05pt;text-indent:-17.85pt'><span lang=EN-US
                                                    style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>&bull;<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=EN-US
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>University
degree in Law, University of Vienna (Mag. iur. 2000)</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.05pt;text-indent:-17.85pt'><span lang=EN-US
                                                    style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>&bull;<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=EN-US
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>University
degree in International Business Administration, University of Vienna
(Mag.rer.soc.oec. 2001)</span></p>

<p class=MsoNormalIndent style='margin-left:64.35pt;text-indent:-18.0pt'><span
        lang=EN-US style='font-size:12.0pt;line-height:115%;font-family:Wingdings'>&bull;<span
        style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span lang=EN-US
                                                                        style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Master
of Law (LL.M.) degree, Columbia University School of Law, New York (2002/2003)</span></p>

<p class=MsoNormalIndent style='margin-left:1.0cm'><span lang=DE-AT
                                                         style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif;
color:#004439'>Professional Background</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.35pt;text-indent:-18.0pt'><span lang=DE-AT style='font-size:
12.0pt;line-height:115%;font-family:Wingdings'>&bull;<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span></span><span lang=DE-AT style='font-size:12.0pt;line-height:115%;
font-family:"Arial",sans-serif'>Partner with GARGER SPALLINGER Rechsanwälte
GmbH since 2010</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.35pt;text-indent:-18.0pt'><span lang=EN-US style='font-size:
12.0pt;line-height:115%;font-family:Wingdings'>&bull;<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span></span><span lang=EN-US style='font-size:12.0pt;line-height:115%;
font-family:"Arial",sans-serif'>Admitted as Attorney-at-Law (<i>Rechtsanwalt</i>)
in Austria since 2008</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.35pt;text-indent:-18.0pt'><span lang=EN-US style='font-size:
12.0pt;line-height:115%;font-family:Wingdings'>&bull;<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span></span><span lang=EN-US style='font-size:12.0pt;line-height:115%;
font-family:"Arial",sans-serif'>Admitted as Attorney-at-Law in New York since 2005</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.35pt;text-indent:-18.0pt'><span lang=EN-US style='font-size:
12.0pt;line-height:115%;font-family:Wingdings'>&bull;<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span></span><span lang=EN-US style='font-size:12.0pt;line-height:115%;
font-family:"Arial",sans-serif'>Attorney-of-Law/Associate with renowned
commercial law firms</span></p>

<p class=MsoNormalIndent style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:64.35pt;text-indent:-18.0pt'><span lang=EN-US style='font-size:
12.0pt;line-height:115%;font-family:Wingdings'>&bull;<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span></span><span lang=EN-US style='font-size:12.0pt;line-height:115%;
font-family:"Arial",sans-serif'>Austrian Ministry of Foreign Affairs</span></p>

<p class=MsoNormal><span lang=DE-AT>&nbsp;</span></p>

</div>

       </span>


  </mat-card-content>
</mat-card>
</div>
