<!-- Header -->
<div class=" gsptateigkeitsbereichheader">
    <div >
      <div class="row">
        <div class="col-xl-1 col-md-1" style="padding-left: 5vw">
          <img style="width: 180px" src="../../assets/images/gsplogo_klein.png">
        </div>
      </div>
    </div>
  <div class="container gsptextinimage">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-8">
        <p class="gsptitlefont">{{'TAETIGKEITSBEREICH' | translate | uppercase}}</p>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row ">
      <div class="col-md-1"></div>
      <div class="col-md-8 ">
        <p>{{'TAETP1' | translate}} </p>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>

<!-- Page Content -->
<div class="gspparagraph">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <!-- GESELLSCHAFTSRECHT -->
          <div class="col-xs-6 col-sm-5 col-md-4 col-lg-3  gspcolimageleft">
            <div class=" border-0 ">
              <a routerLink="../gesellschaftsrecht">
                <div class=" gsptaetigkeitcontainer">
                  <img class="gspcardimage" src="../../assets/images/klein/gesellschaftsrecht.jpg">
                  <div class="gsptaetigkeitbottomcentered">
                    <span> {{'GESELLSCHAFTSRECHT' | translate | uppercase}}</span>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <!-- UMGRUENDUNG -->
          <div class="col-xs-6 col-sm-5 col-md-4 col-lg-3  gspcolimageleft">
            <div class=" border-0 ">
              <a routerLink="../umgruendung">
                <div class=" gsptaetigkeitcontainer">
                  <img class="gspcardimage" src="../../assets/images/klein/umgruendungen.jpg" alt="...">
                  <div class="gsptaetigkeitbottomcentered">
                    <span> {{'UMGRUENDUNG' | translate | uppercase}}</span>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <!-- Mergers -->
          <div class="col-xs-6 col-sm-5 col-md-4 col-lg-3  gspcolimageleft">
            <div class=" border-0 ">
              <a routerLink="../mergers">
                <div class=" gsptaetigkeitcontainer">
                  <img class="gspcardimage" src="../../assets/images/klein/taetigkeitsbereiche_mergers.jpg" alt="...">
                  <div class="gsptaetigkeitbottomcentered">
                    <span> {{'MERGERS' | translate | uppercase}}</span>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <!-- Arbeitsrecht -->
          <div class="col-xs-6 col-sm-5 col-md-4 col-lg-3  gspcolimageleft">
            <div class="border-0 ">
              <a routerLink="../arbeitsrecht">
                <div class="gsptaetigkeitcontainer">
                  <img class="gspcardimage" src="../../assets/images/klein/arbeitsrecht.jpg" alt="...">
                  <div class="gsptaetigkeitbottomcentered">
                    <span> {{'ARBEITSRECHT' | translate | uppercase}}</span>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <!-- Global Mobility -->
          <div class="col-xs-6 col-sm-5 col-md-4 col-lg-3   gspcolimageleft">
            <div class=" border-0 ">
              <a routerLink="../globalmobility">
                <div class=" gsptaetigkeitcontainer">
                  <img class="gspcardimage" src="../../assets/images/klein/international_global.jpg">
                  <div class="gsptaetigkeitbottomcentered">
                    <span> {{'GLOBALMOBILITY' | translate | uppercase}}</span>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <!-- Banken -->
          <div class="col-xs-6 col-sm-5 col-md-4 col-lg-3   gspcolimagecenter">
            <div class=" border-0 ">
              <a routerLink="../banken">
                <div class=" gsptaetigkeitcontainer">
                  <img class="gspcardimage" src="../../assets/images/klein/banken.jpg" alt="...">
                  <div class="gsptaetigkeitbottomcentered">
                    <span> {{'BANKEN' | translate | uppercase}}</span>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <!-- vertragsgestaltung -->
          <div class="col-xs-6 col-sm-5 col-md-4 col-lg-3   gspcolimagecenter">
            <div class=" border-0 ">
              <a routerLink="../vertragsgestaltung">
                <div class=" gsptaetigkeitcontainer">
                  <img class="gspcardimage" src="../../assets/images/klein/vertragsrecht.jpg" alt="...">
                  <div class="gsptaetigkeitbottomcentered">
                    <span> {{'VERTRAGSGESTALTUNG' | translate | uppercase}}</span>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <!-- oeffentlichkeitsrecht -->
          <div class="col-xs-6 col-sm-5 col-md-4 col-lg-3   gspcolimageright">
            <div class="border-0 ">
              <a routerLink="../oeffentlichkeitsrecht">
                <div class="gsptaetigkeitcontainer">
                  <img class="gspcardimage" src="../../assets/images/klein/offentlichkeitsrecht.jpg" alt="...">
                  <div class="gsptaetigkeitbottomcentered">
                    <span> {{'OEFFENTLICHKEITSRECHT' | translate | uppercase}}</span>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <!-- Immobilienrecht -->
          <div class="col-xs-6 col-sm-5 col-md-4 col-lg-3  gspcolimageleft">
            <div class=" border-0 ">
              <a routerLink="../immobilienrecht">
                <div class=" gsptaetigkeitcontainer">
                  <img class="gspcardimage" src="../../assets/images/klein/immobilienrecht.jpg">
                  <div class="gsptaetigkeitbottomcentered">
                    <span> {{'IMMOBILIENRECHT' | translate | uppercase}}</span>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <!-- LITIGATION -->
          <div class="col-xs-6 col-sm-5 col-md-4 col-lg-3   gspcolimagecenter">
            <div class=" border-0 ">
              <a routerLink="../litigation">
                <div class=" gsptaetigkeitcontainer">
                  <img class="gspcardimage" src="../../assets/images/klein/zivilprozess.jpg" alt="...">
                  <div class="gsptaetigkeitbottomcentered">
                    <span> {{'LITIGATION' | translate | uppercase}}</span>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <!-- vertragsgestaltung -->
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3  gspcolimagecenter">
            <div class=" border-0 " style="padding-left: 20px">
              <p class="gsptitlefont"> Effiziente Beratung auf höchstem Niveau.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- /.container -->
