<!-- Header -->
<div class=" container gsptateigkeitsbereichheader">
  <div class="container gsptextinimage" >
    <div class="row"></div>
    <div class="row" style="margin-top: 80px">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <p class="gsptitlefont">{{'TAETIGKEITSBEREICH' | translate | uppercase}}</p>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row " >
      <div class="col-md-2"></div>
      <div class="col-md-8 ">
        <p>{{'TAETP1' | translate}} </p>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>

<!-- Page Content -->
<div class="container" style="margin-top: 30px">
  <div class="row">
    <!-- GESELLSCHAFTSRECHT -->
    <div class="col-xl-3 col-md-3 gspcolimageleft">
      <div class=" border-0 ">
        <a routerLink="../gesellschaftsrecht">
          <div class=" text-center">
            <img class="gspcardimage" src="../../assets/images/klein/gesellschaftsrecht.jpg">
            <div class="gspcardtext">
              <span> {{'GESELLSCHAFTSRECHT' | translate | uppercase}}</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <!-- UMGRUENDUNG -->
    <div class="col-xl-3 col-md-3 gspcolimagecenter">
      <div class=" border-0 ">
        <a routerLink="../umgruendung">
          <div class=" text-center">
            <img class="gspcardimage" src="../../assets/images/klein/umgruendungen.jpg" alt="...">
            <div class="gspcardtext">
              <span> {{'UMGRUENDUNG' | translate | uppercase}}</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <!-- Mergers -->
    <div class="col-xl-3 col-md-3 gspcolimagecenter">
      <div class=" border-0 ">
        <a routerLink="../mergers">
          <div class=" text-center">
            <img class="gspcardimage" src="../../assets/images/klein/taetigkeit.jpg" alt="...">
            <div class="gspcardtext">
              <span> {{'MERGERS' | translate | uppercase}}</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <!-- Arbeitsrecht -->
    <div class="col-xl-3 col-md-3 gspcolimageright">
      <div class="border-0 ">
        <a routerLink="../arbeitsrecht">
          <div class="text-center">
            <img class="gspcardimage" src="../../assets/images/klein/arbeitsrecht.jpg" alt="...">
            <div class="gspcardtext">
              <span> {{'ARBEITSRECHT' | translate | uppercase}}</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- Global Mobility -->
    <div class="col-xl-3 col-md-3 gspcolimageleft">
      <div class=" border-0 ">
        <a routerLink="../globalmobility">
          <div class=" text-center">
            <img class="gspcardimage" src="../../assets/images/klein/globalmobility.jpg">
            <div class="gspcardtext">
              <span> {{'GLOBALMOBILITY' | translate | uppercase}}</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <!-- Banken -->
    <div class="col-xl-3 col-md-3 gspcolimagecenter">
      <div class=" border-0 ">
        <a routerLink="../banken">
          <div class=" text-center">
            <img class="gspcardimage" src="../../assets/images/klein/banken.jpg" alt="...">
            <div class="gspcardtext2zeilig" >
              <span> {{'BANKEN' | translate | uppercase}}</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <!-- vertragsgestaltung -->
    <div class="col-xl-3 col-md-3 gspcolimagecenter">
      <div class=" border-0 ">
        <a routerLink="../vertragsgestaltung">
          <div class=" text-center">
            <img class="gspcardimage" src="../../assets/images/klein/vertragsgestaltung.jpg" alt="...">
            <div class="gspcardtext2zeilig" >
              <span> {{'VERTRAGSGESTALTUNG' | translate | uppercase}}</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <!-- oeffentlichkeitsrecht -->
    <div class="col-xl-3 col-md-3 gspcolimageright">
      <div class="border-0 ">
        <a routerLink="../oeffentlichkeitsrecht">
          <div class="text-center">
            <img class="gspcardimage" src="../../assets/images/klein/oeffentlichesrecht.jpg" alt="...">
            <div class="gspcardtext">
              <span> {{'OEFFENTLICHKEITSRECHT' | translate | uppercase}}</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- Immobilienrecht -->
    <div class="col-xl-3 col-md-3 gspcolimageleft">
      <div class=" border-0 ">
        <a routerLink="../immobilienrecht">
          <div class=" text-center">
            <img class="gspcardimage" src="../../assets/images/klein/immobilienrecht.jpg">
            <div class="gspcardtext">
              <span> {{'IMMOBILIENRECHT' | translate | uppercase}}</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <!-- LITIGATION -->
    <div class="col-xl-3 col-md-3 gspcolimagecenter">
      <div class=" border-0 ">
        <a routerLink="../litigation">
          <div class=" text-center">
            <img class="gspcardimage" src="../../assets/images/klein/litigation.jpg" alt="...">
            <div class="gspcardtext" >
              <span> {{'LITIGATION' | translate | uppercase}}</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <!-- vertragsgestaltung -->
    <div class="col-xl-3 col-md-3 gspcolimagecenter">
      <div class=" border-0 ">
        <p class="gsptitlefont"> Effiziente Beratung auf höchstem Niveau.</p>
      </div>
    </div>
  </div>
</div>
<!-- /.container -->
