

.gsppartner {
  background-image: url("../assets/images/garger.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
}

.gspcardtext {
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: -40px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  background-color: darkblue;
  top: 100px;
  opacity: 0.5
}

.gspcardtextperson {
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: -40px;
  width: 100%;
  padding-top: 1px;
  padding-bottom: 1px;
  color: white;
  background-color: darkblue;
  top: 100px;
  opacity: 0.5
}

.gspmenuitem {
  padding-left: 25px;
  padding-top: 15px;
  color: #777;
}
.gspmenuitemlink {
  text-decoration: none;
  color: #777;
}

.gspcardimage {
  width: 100%;
  height: 150px;
}

.gspcardimageperson {
  width: 100%;
  height: 100%;
}

.gspcardperson {
  max-width: 240px;
}

.gspcardteam {
  background-image: url("../assets/images/garger.jpg");

}

.gspparagraph {
  padding-top: 0px;
  margin-top: 0px;
  background-color: aliceblue;
}
