<span class="gsptextfont" >
<nav class="navbar navbar-expand-md navbar-light bg-light container">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
         <a class="nav-link gspheadertext" style="padding-left: 0px" routerLink="/home"
            routerLinkActive="gsprouterlinkactive"> {{'HOME' | translate | uppercase}}</a>
      </li>
      <li class="nav-item">
            <a class="nav-link gspheadertext" routerLink="/team"
               routerLinkActive="gsprouterlinkactive"> {{'TEAM' | translate | uppercase}} </a>
          </li>
          <li class="nav-item">
            <a class="nav-link gspheadertext"
               routerLink="/taetigkeitsbereich"
               routerLinkActive="gsprouterlinkactive"> {{'TAETIGKEITSBEREICH' | translate | uppercase}} </a>
          </li>
          <li class="nav-item">
            <a class="nav-link gspheadertext"
               routerLink="/international"
               routerLinkActive="gsprouterlinkactive"> {{'INTERNATIONAL' | translate | uppercase}} </a>
          </li>
          <li class="nav-item" style="padding-right: 10px">
            <a class="nav-link gspheadertext" routerLink="/kontakt"
               routerLinkActive="gsprouterlinkactive"> {{'KONTAKT' | translate | uppercase}} </a>
          </li>
          <li class="nav-item">
            <a id="deutschID" class="nav-link gspheaderlanguage"
               (click)="changeLanguage('de')"> {{'DEUTSCH' | translate}} <img src="assets/images/oesterreich.jpg"/> </a>
            </li>
          <li class="nav-item">
            <a id="englishID" class="nav-link gspheaderlanguage"
               (click)="changeLanguage('en')"> {{'ENGLISCH' | translate}}
              <img src="assets/images/gb.jpg"/>
            </a>
            </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>


<div class="panel-footer" style="color:white; background-color: rgb(0,68,57); padding-top: 5vh; padding-bottom: 4vh">
  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-4">
            <address>
                GARGER SPALLINGER Rechtsanwälte GmbH<br>
                Biberstraße 22, A-1010 Wien<br>

                Tel:   <a class="gspfooterlink" href="tel:+43-1-319-94-70"> +43 1 319 94 70</a>
                Fax: +43-1-319 94 70-70<br/>
                <a class="gspfooterlink" href="mailto:office@gsplegal.at">office(AT)gsplegal.at </a>
            </address>
      </div>
      <div class="col-md-6">
        <a routerLink="/impressum" class="gspfooterlink"
           routerLinkActive="gsprouterlinkactive"> {{'IMPRESSUM' | translate |
          uppercase}} </a> <br/>
        <a routerLink="/haftungsausschluss" class="gspfooterlink"
           routerLinkActive="gsprouterlinkactive"> {{'HAFTUNGSAUSSCHLUSS' |
          translate | uppercase}} </a> <br/>
        <a routerLink="/datenschutz" class="gspfooterlink"
           routerLinkActive="gsprouterlinkactive"> {{'DATENSCHUTZ' | translate |
          uppercase}} </a> <br/>
        <div>© {{'ALLERECHTE' | translate }}</div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>
</span>
