body {

}

h3 {
  margin-top: 2rem;
}

.row {
  margin-bottom: 0;
}

.row .row {
  margin-top: 0;
  margin-bottom: 0;
}

[class*="col-"] {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

html, body, .container {
  height: 100%;
}

.container {
  display: table;
  width: 100%;
  margin-top: -50px;
  padding: 50px 0 0 0; /*set left/right padding according to needs*/
  box-sizing: border-box;
  height: calc(100% - 50px);
  overflow: auto;
}

.gsppartner {
  background-image: url("../assets/images/garger.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
}

.gspcardtext {
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: -40px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  background-color: darkblue;
  top: 100px;
  opacity: 0.5
}

.gspcardtextperson {
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: -40px;
  width: 100%;
  padding-top: 1px;
  padding-bottom: 1px;
  color: white;
  background-color: darkblue;
  top: 100px;
  opacity: 0.5
}

.gspmenuitem {
  padding-left: 25px;
  padding-top: 15px;
  color: #777;
}
.gspmenuitemlink {
  text-decoration: none;
  color: #777;
}

.gspcardimage {
  width: 100%;
  height: 150px;
}

.gspcardimageperson {
  width: 100%;
  height: 100%;
}

.gspcardperson {
  max-width: 240px;
}

.gspcardteam {
  background-image: url("../assets/images/garger.jpg");

}

.gspparagraph {
  padding-top: 0px;
  margin-top: 0px;
  background-color: aliceblue;
}

.row {
  height: 100%;
  display: table-row;
}

.row .no-float {
  display: table-cell;
  float: none;
}
