.gsptitlefont {
  font-family: "Univers LT Std";
  font-size: 39px;
}
.gsptextfont {
  font-family: "SourceSansPro-Regular";
}
.gspcardimage {
  width: 100%;
  height: 100%;
}

.gspcardtext {
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  background-color: darkblue;
  top: 100px;
  opacity: 0.5;
  margin-top: -45px;
}

.gspcardtext2zeilig {
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  background-color: darkblue;
  top: 100px;
  opacity: 0.5;
  margin-top: -68px;
}

.gspcardtextperson {
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: -40px;
  width: 100%;
  padding-top: 1px;
  padding-bottom: 1px;
  color: white;
  background-color: darkblue;
  top: 100px;
  opacity: 0.5
}

.gsptextinimage {
  color: white;
}
.gspparagraph {
  padding-top: 0px;
  margin-top: 0px;
  background-color: lightsteelblue;
}
.gspcolimageleft {
  padding-left: 0;
  padding-right: 7px;
  padding-bottom: 30px;
}
.gspcolimageright {
  padding-left: 7px;
  padding-right: 0;
  padding-bottom: 30px;
}
.gspcolimagecenter {
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 30px;
}
