<!-- Header -->
<div class=" gsphomeheader">
  <div class="container gsptextinimage">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-8">
        <img  class="gspheaderimage" src="../../assets/images/gsplogo.png">
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>

<!-- /.container -->
<div class=" gspparagraph">
  <div class="container ">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-8">
        <p class="gsptitlefont">{{'IMPRESSUM' | translate}} </p>
        <address>
          <strong>GARGER SPALLINGER Rechtsanwälte GmbH</strong><br>
          Porzellangasse 39, A-1090 Wien<br>
          Tel: +43-1-319 94 70,
          Fax: +43-1-319 94 70-70<br/>
          <a class="gspfooterlink" style="color:black" href="mailto:office@gsplegal.at">office(AT)gsplegal.at </a>
        </address>
        <p>FN 325373s <br/>
          {{'RACODE' | translate}}: P131287<br/>
          {{'UID' | translate}}: ATU 64902289<br/>
          {{'DVR' | translate}}: 4000815</p>
        <p>Design Website: Claudia Marschall<br/>
          <a class="gspfooterlink" style="color:black"  href="mailto:office@claudiamarschall.at">Email: office(AT)claudiamarschall.at </a>,
          <a href="http://www.claudiamarschall.at">http://www.claudiamarschall.at</a>
        </p>
        <p>
          {{'WEBPROG' | translate}}: Herbert Blaschek
        </p>
        <p>
          {{'BHAFT' | translate}} : photocase.com©JOEXX <br/>
          {{'BIMP' | translate}} : photocase.com©larrag01<br/>
          {{'BANF' | translate}} : photocase.com©kallejipp</p>
      </div>
    </div>
  </div>
</div>
