<!-- Header -->
<div class="gspteamheader">
  <div class="container gsptextinimage_pos">
    <div class="row">
      <div class="col-xl-1 col-md-1">
            <img src="../../assets/images/gs_logo_subseiten.png">
      </div>
    </div>
  </div>
  <div class="container gsptextinimage">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-8">
        <p class="gsptitlefontteam">{{'TEAM' | translate | uppercase}}</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-md-1"></div>
      <div class="col-md-8 ">
        <span *ngIf="gpsTS.isGerman()">

<div class=WordSection1>

<p class=MsoNormalIndent><span lang=DE-AT
                                                         style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>&quot;<b><i>Die
Stärke des Teams ist jedes einzelne Mitglied. Die Stärke eines jeden Mitglieds
ist das Team.</i></b>&quot; (Phil Jackson)</span></p>

<p class=MsoNormalIndent><span lang=DE-AT
                                                         style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>Mit
unserem Team von Spezialisten mit langjähriger Erfahrung und unterschiedlichen
persönlichen und beruflichen Hintergründen bieten wir eine eine <b>vielschichtige
sowie effiziente und professionelle rechtliche Beratung</b>. Gemeinsam ist uns
das <b>Interesse an den geschäftlichen Tätigkeiten unserer Mandanten</b> und
dem <b>Verständnis zur Schaffung maßgeschneiderter Lösungen</b>.</span></p>

<p class=MsoNormal><span lang=DE-AT>&nbsp;</span></p>

</div>
        </span>
        <span *ngIf="!gpsTS.isGerman()">
          
          <div class=WordSection1>

<p class=MsoNormalIndent ><span lang=EN-US
                                                         style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>&quot;<b><i>The
strength of the team is each individual member. The strength of each member is
the team.</i></b>&quot; (Phil Jackson)</span></p>

<p class=MsoNormalIndent ><span lang=EN-US
                                                         style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>With
our team of specialists with many years of experience and different personal
and professional backgrounds, we offer a <b>multi-faceted as well as efficient
and professional legal advice</b>. What we have in common is <b>the interest in
our clients' business activities</b> and the <b>understanding to create
tailor-made solutions</b>.</span></p>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

</div>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="gspparagraph" style="background-color: white ">
  <div class="container">
    <div class="row" style="padding-top: 30px; padding-right: 20px">
      <div class="col-md-1"></div>

      <div class=" col-md-3" style="padding-bottom: 1vh" (click)="onclick('bgarger', $event)">
        <div class=" border-0 " id="gargerBild">
          <div class="gspcontainer">
            <img class="gspcardimagepartner" src="../../assets/images/bgarger.jpg">
            <div class="gspteambottomcentered">
              <span> MMag. Dr.</span>
              <span> BERNHARD GARGER</span>
            </div>
          </div>
        </div>
      </div>
      <div class=" col-md-3"  style="padding-bottom: 1vh" (click)="onclick('fspallinger', $event)">
        <div class=" border-0 ">
            <div class="gspcontainer">
              <img class="gspcardimagepartner" src="../../assets/images/spallinger.jpg">
              <div class="gspteambottomcentered">
                <span> MMag.</span>
                <span> FORREST SPALLINGER <span style="font-size: 50%">LL.M</span></span>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="row" style="padding-top: 30px; padding-right: 20px">
      <div class="col-md-1"></div>
        <div class=" col-md-3" style="padding-bottom: 1vh" (click)="onclick('aroupec', $event)">
          <div class=" border-0 ">
            <div class=" gspcontainer">
              <img class="gspcardimagepartner" src="../../assets/images/roupec.jpg">
              <div class="gspteambottomcentered">
                <span> Mag.<sub class="gsphochgestellt">a</sub></span>
                <span> ANITA ROUPEC </span>
              </div>
            </div>
          </div>
        </div>


      <div class=" col-md-3" style="padding-bottom: 1vh" (click)="onclick('psteindl', $event)">
        <div class=" border-0 ">
          <div class="gspcontainer">
            <img class="gspcardimagepartner" src="../../assets/images/patrick.jpg">
            <div class="gspteambottomcentered">
              <span></span>
              <span> PATRICK STEINDL </span> <span style="font-size: 50%">LL.M.(WU)</span>
            </div>
          </div>
        </div>
      </div>


    </div>
    <div class="row" style="padding-top: 30px; padding-right: 20px">
      <div class="col-md-1"></div>

      <div class=" col-md-3" style="padding-bottom: 1vh" (click)="onclick('rjandrisevits', $event)">
        <div class=" border-0 ">
          <div class="gspcontainer">
            <img class="gspcardimagepartner" src="../../assets/images/jandrisevits.jpg">
            <div class="gspteambottomcentered">
              <span> REGINA JANDRISEVITS</span>
            </div>
          </div>
        </div>
      </div>
      <div class=" col-md-3"  style="padding-bottom: 1vh" (click)="onclick('agarger', $event)">
        <div class=" border-0 ">
            <div class="gspcontainer">
              <img class="gspcardimagepartner" src="../../assets/images/agarger.jpg">
              <div class="gspteambottomcentered">
                <span> ANNA GARGER </span>
              </div>
            </div>
        </div>
      </div>
      <div class=" col-md-3"  style="padding-bottom: 1vh" (click)="onclick('akubrak', $event)">
        <div class=" border-0 ">
            <div class="gspcontainer">
              <img class="gspcardimagepartner" src="../../assets/images/kubrak.jpg">
              <div class="gspteambottomcentered">
                <span> ANNA Kubrak </span>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

