<!-- Header -->
<div class="gspteamheader">
  <div class="">
    <div class="row">
      <div class="col-xl-1 col-md-1" style="padding-left: 5vw">
            <img style="width: 180px" src="../../assets/images/gsplogo_klein.png">
      </div>
    </div>
  </div>
  <div class="container gsptextinimage">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-8">
        <p class="gsptitlefont">{{'TEAM' | translate | uppercase}}</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-md-1"></div>
      <div class="col-md-8 ">
        <p>{{'TEAMP1' | translate}} </p>
        <p>{{'TEAMP2' | translate}} </p>
      </div>
    </div>
  </div>
</div>
<div class="gspparagraph">
  <div class="container">
    <div class="row"  style="padding-top: 30px; padding-right: 20px">
      <div class="col-md-1"></div>
      <div class="col-md-1 gsptitlefont">PARTNER</div>
      <div class="col-md-2"></div>

      <div class="colxl col-md-3" style="padding-bottom: 1vh">
        <div class=" border-0 ">
          <div class="gspcontainer">
            <img class="gspcardimagepartner" src="../../assets/images/garger.jpg">
            <div class="gspbottomleft">
              <span> MMag. Dr.</span><br/>
              <span> BERNHARD GARGER</span>
            </div>
          </div>
        </div>
      </div>
      <div class="colxl col-md-3">
        <div class=" border-0 ">
            <div class="gspcontainer">
              <img class="gspcardimagepartner" src="../../assets/images/spallinger.jpg">
              <div class="gspbottomleft">
                <span> Mag.</span><br/>
                <span> FORREST SPALLINGER <span style="font-size: 50%">LL.M</span></span>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="row" style="padding-top: 30px; padding-right: 20px">
      <div class="col-md-1"></div>
      <!-- Team -->

      <div class="colxl col-md-3"  style="padding-bottom: 1vh">
        <div class=" border-0 ">
            <div class=" gspcontainer">
              <img class="gspcardimagepartner" src="../../assets/images/roupec.jpg">
              <div class="gspbottomleft">
                <span> Mag.</span><br/>
                <span> ANITA ROUPEC </span>
              </div>
            </div>
        </div>
      </div>
      <div class="colxl col-md-3"  style="padding-bottom: 1vh">
        <div class=" border-0 ">
            <div class=" gspcontainer">
              <img class="gspcardimagepartner" src="../../assets/images/pflug.jpg">
              <div class="gspbottomleft">
                <span> Dr.</span><br/>
                <span> DOMINIK PFLUG </span>
              </div>
            </div>
        </div>
      </div>


      <div class="colxl col-md-3">
        <div class=" border-0 ">
            <div class=" gspcontainer">
              <img class="gspcardimagepartner" src="../../assets/images/fida.jpg">
              <div class="gspbottomleft">
                <span> Mag. Dr.</span><br/>
                <span> SASKIA FIDA </span>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="row" style="padding-top: 30px; padding-right: 20px">
      <div class="col-md-1"></div>
      <!-- Team -->

      <div class="colxl col-md-3"  style="padding-bottom: 1vh">
        <div class=" border-0 ">
          <div class=" gspcontainer">
            <img class="gspcardimagepartner" src="../../assets/images/rest.jpg">
            <div class="gspbottomleft">
              <span> Mag.</span><br/>
              <span> MARGOT ASTRID REST </span>
            </div>
          </div>
        </div>
      </div>
      <div class="colxl col-md-3"  style="padding-bottom: 1vh">
        <div class=" border-0 ">
          <div class=" gspcontainer">
            <img class="gspcardimagepartner" src="../../assets/images/borsky.jpg">
            <div class="gspbottomleft">
              <span> Dr.</span><br/>
              <span> MICHAEL BORSKY </span>
            </div>
          </div>
        </div>
      </div>


      <div class="colxl col-md-3">
        <div class=" border-0 ">
          <div class=" gspcontainer">
            <img class="gspcardimagepartner" src="../../assets/images/gebetsberger.jpg">
            <div class="gspbottomleft">
              <span> Mag.</span><br/>
              <span> LISA GEBETSBERGER</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="padding-top: 30px; padding-right: 20px">
      <div class="col-md-1"></div>
      <!-- Team -->

      <div class="colxl col-md-3"  style="padding-bottom: 1vh">
        <div class=" border-0 ">
          <div class=" gspcontainer">
            <img class="gspcardimagepartner" src="../../assets/images/koerbl.jpg">
            <div class="gspbottomleft">
              <span> MARTINA KÖRBL </span>
            </div>
          </div>
        </div>
      </div>
      <div class="colxl col-md-3"  style="padding-bottom: 1vh">
        <div class=" border-0 ">
          <div class=" gspcontainer">
            <img class="gspcardimagepartner" src="../../assets/images/goll.jpg">
            <div class="gspbottomleft">
              <span> BERNHARD GOLL </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

