@import "../app.component.less";

.gspteamheader {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/images/header/header_02.jpg");
  background-repeat: round;
  background-size: 100% 100%;
}
