<!-- Header -->
<div class="gspteamheader">
  <div class="container gsptextinimage_pos">
    <div class="row">
      <div class="col-xl-1 col-md-1">
            <img src="../../assets/images/gs_logo_subseiten.png">
      </div>
    </div>
  </div>
  <div class="container gsptextinimage">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-8">
        <p class="gsptitlefontteam">{{'TEAM' | translate | uppercase}}</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-md-1"></div>
      <div class="col-md-8 ">
        <p>{{'TEAMP1' | translate}} </p>
        <p>{{'TEAMP2' | translate}} </p>
      </div>
    </div>
  </div>
</div>
<div class="gspparagraph" style="background-color: white ">
  <div class="container">
    <div class="row" style="padding-top: 30px; padding-right: 20px">
      <div class="col-md-1"><h2>Juristen</h2></div>

    </div>
    <div class="row" style="padding-top: 10px; padding-right: 20px">
      <div class=" col-md-3" style="padding-bottom: 1vh">
        <div class=" border-0 mt-1">
          <div class="gspcontainer">
            <img class="gspcardimagepartner" src="../../assets/images/bgarger.jpg">
            <div class="gspteambottomcentered">
              <span> MMag. Dr.</span>
              <span> BERNHARD GARGER</span><br/>
              <span>Rechtsanwalt | Partner</span>
            </div>
          </div>
        </div>
      </div>
      <div class=" col-md-3">
        <div class=" border-0 mt-1 ">
            <div class="gspcontainer">
              <img class="gspcardimagepartner" src="../../assets/images/spallinger.jpg">
              <div class="gspteambottomcentered">
                <span> MMag.</span>
                <span> FORREST SPALLINGER <span style="font-size: 50%">LL.M</span></span>
                <br/>
                <span>Rechtsanwalt | Partner</span>
              </div>
            </div>
        </div>
      </div>
      <div class=" col-md-3">
        <div class=" border-0 mt-1 ">
          <div class="gspcontainer">
            <img class="gspcardimagepartner" src="../../assets/images/drichter.jpg">
            <div class="gspteambottomcentered">
              <span> Dr.</span>
              <span> DANIEL REITER</span><br/>
              <span>Rechtsanwalt | Partner</span>
            </div>
          </div>
        </div>
      </div>
      <div class=" col-md-3" >
        <div class=" border-0 mt-1">
          <div class=" gspcontainer">
            <img class="gspcardimagepartner" src="../../assets/images/roupec.jpg">
            <div class="gspteambottomcentered">
              <span> Mag.<sub class="gsphochgestellt">a</sub></span>
              <span> ANITA ROUPEC </span>
              <br/>
              <span>Rechtsanwalt</span>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row" style="padding-top: 30px; padding-right: 20px">
      <div class="col-md-1"><h2>Kanzleileitung</h2></div>

    </div>
    <div class="row" style="padding-top: 10px; padding-right: 20px">

      <div class=" col-md-3" style="padding-bottom: 1vh">
        <div class=" border-0 mt-1">
          <div class="gspcontainer">
            <img class="gspcardimagepartner" src="../../assets/images/nn.jpg">
            <div class="gspteambottomcentered">
              <span> ANDREA STEININGER</span>
            </div>
          </div>
        </div>
      </div>
      <div class=" col-md-3">
        <div class=" border-0 mt-1">
          <div class="gspcontainer">
            <img class="gspcardimagepartner" src="../../assets/images/jandrisevits.jpg">
            <div class="gspteambottomcentered">
              <span> REGINA JANDRISEVITS </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="padding-top: 30px; padding-right: 20px">
      <div class="col-md-1"><h2>Assistenz</h2></div>
    </div>
    <div class="row" style="padding-top: 10px; padding-right: 20px">
      <div class=" col-md-3">
        <div class=" border-0 mt-1">
          <div class="gspcontainer">
            <img class="gspcardimagepartner" src="../../assets/images/agarger.jpg">
            <div class="gspteambottomcentered">
              <span> ANNA GARGER </span>
            </div>
          </div>
        </div>
      </div>
      <div class=" col-md-3">
        <div class=" border-0 mt-1">
          <div class="gspcontainer">
            <img class="gspcardimagepartner" src="../../assets/images/kubrak.jpg">
            <div class="gspteambottomcentered">
              <span> ANNA KUBRAK </span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

