<!-- Header -->
<div class="gsphomeheader">
  <div class="container gsptextinimage_pos">
    <div class="row">
      <div class="col-md-8">
        <img class="gspheaderimage" src="../../assets/images/gs_logo_home_kontakt.png">
      </div>
    </div>
  </div>
</div>

<!-- Page Content -->
<div style="margin-top: 3vh; padding-left: 1vw; padding-right: 1vw;">
  <div class="row">
    <!-- Team -->
    <div class="col-xl-3 col-md-3 gspcolimagecenter">
      <div class=" border-0 ">
        <a routerLink="../team">
          <div class=" text-center">
            <img class="gspcardimage" src="../../assets/images/klein/team.jpg">
            <div class="gspcardtext">
              <span> {{'TEAM' | translate | uppercase}}</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <!-- TAETIGKEITSBEREICH -->
    <div class="col-xl-3 col-md-3 gspcolimagecenter">
      <div class=" border-0 ">
        <a routerLink="../taetigkeitsbereich">
          <div class=" text-center">
            <img class="gspcardimage" src="../../assets/images/klein/taetigkeitsbereiche_mergers.jpg" alt="...">
            <div class="gspcardtext">
              <span> {{'TAETIGKEITSBEREICH' | translate | uppercase}}</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <!-- International -->
    <div class="col-xl-3 col-md-3 gspcolimagecenter">
      <div class=" border-0 ">
        <a routerLink="../international">
          <div class=" text-center">
            <img class="gspcardimage" src="../../assets/images/klein/international_global.jpg" alt="...">
            <div class="gspcardtext">
              <span> {{'INTERNATIONAL' | translate | uppercase}}</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <!-- Kontakt -->
    <div class="col-xl-3 col-md-3 gspcolimagecenter">
      <div class="border-0 ">
        <a routerLink="../kontakt">
          <div class="text-center">
            <img class="gspcardimage" src="../../assets/images/klein/kontakt.jpg" alt="...">
            <div class="gspcardtext">
              <span> {{'KONTAKT' | translate | uppercase}}</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <!-- /.row -->

  <!-- /.container -->
</div>
<div class="gspparagraph gspparagraphBGColor">
 <span *ngIf="gpsTS.isGerman()">

<div class=WordSection1>

<p class=gsphometitlefont style='margin-top:0cm;margin-right:0cm;margin-bottom:
5.0pt;margin-left:1.0cm;'><span lang=DE-AT style='font-size:
18.0pt;font-family:"Arial",sans-serif;color:#004439'>Herzlich willkommen bei
GARGER SPALLINGER Rechtsanwälte GmbH</span></p>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:5.0pt;margin-left:1.0cm;
'><span lang=DE-AT style='font-family:"Arial",sans-serif;
color:black'>Wir sind eine auf <b>Wirtschaftsrecht spezialisierte
Anwaltskanzlei</b>. </span></p>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:5.0pt;margin-left:1.0cm;
'><span lang=DE-AT style='font-family:"Arial",sans-serif;
color:black'>Zu unseren <b>Kompetenzbereichen</b> zählen<b> </b>die Bereiche
Gesellschafts- und Unternehmensrecht, Umgründungen und Umstrukturierungen,
M&amp;A, Vertragsrecht, Arbeitsrecht, Immobilienrecht, Litigation, Global
Mobility sowie Datenschutz- und IP/IT-Recht, sowohl auf nationaler, als auch
internationaler Ebene.</span></p>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:5.0pt;margin-left:1.0cm;
'><span lang=DE-AT style='font-family:"Arial",sans-serif;
color:black'>In unseren Spezialgebieten bieten wir aufgrund unserer
langjährigen Erfahrung eine <b>effiziente Beratung auf höchstem Niveau</b>. Eine
kleingliedrige Kanzleistruktur ermöglicht uns eine <b>persönliche und
individuelle Betreuung</b> unserer Mandanten.</span></p>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:5.0pt;margin-left:1.0cm;
'><span lang=DE-AT style='font-family:"Arial",sans-serif;
color:black'>Wir stehen für <b>Verantwortung</b> und eine <b>langfristige
Kooperation</b>.</span></p>

<p class=MsoNormalIndent style='margin-left:1.0cm'><span lang=DE-AT
                                                         style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif;
color:black'>Unser Ziel sind <b>erfolgs- und lösungsorientierte Ergebnisse</b>.</span></p>

<p class=MsoNormal><span lang=DE-AT>&nbsp;</span></p>

</div>
 </span>
  <span *ngIf="!gpsTS.isGerman()">

<div class=WordSection1>

<p class=MsoNormalIndent style='margin-left:1.0cm'><span lang=DE-AT
                                                         style='font-size:18.0pt;line-height:115%;font-family:"Arial",sans-serif;
color:#004439'>Welcome to GARGER SPALLINGER Rechtsanwälte GmbH</span></p>

<p class=MsoNormalIndent style='margin-left:1.0cm'><span lang=EN-US
                                                         style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif;
color:black'>We are a <b>law firm specializing in business and corporate law</b>.
</span></p>

<p class=MsoNormalIndent style='margin-left:1.0cm'><span lang=EN-US
                                                         style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif;
color:black'>Our <b>areas of expertise</b> include corporate and commercial
law, reorganizations and restructurings, M&amp;A, contract law, employment law,
real estate law, litigation, global mobility as well as data protection and
IP/IT law, each on a national and international level.</span></p>

<p class=MsoNormalIndent style='margin-left:1.0cm'><span lang=EN-US
                                                         style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif;
color:black'>In our special fields we offer <b>efficient advice at the highest
level</b> due to our many years of experience. Our law firm structure enables
us to provide <b>personal and individual service</b> to our clients.</span></p>

<p class=MsoNormalIndent style='margin-left:1.0cm'><span lang=EN-US
                                                         style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif;
color:black'>We stand for <b>responsibility </b>and <b>long-term cooperation</b>.</span></p>

<p class=MsoNormalIndent style='margin-left:1.0cm'><span lang=EN-US
                                                         style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif;
color:black'>Our goal is <b>success- and solution-oriented results</b>.</span></p>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

</div>
  </span>
</div>
