<!-- Header -->
<div class=" gsphomeheader">
  <div class="container gsptextinimage">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-8">
        <img class="gspheaderimage" src="../../assets/images/gsplogo.png">
      </div>
    </div>
  </div>
</div>

<!-- Page Content -->
<div style="margin-top: 3vh; padding-left: 1vw; padding-right: 1vw;">
  <div class="row">
    <!-- Team -->
    <div class="col-xl-3 col-md-3 gspcolimagecenter">
      <div class=" border-0 ">
        <a routerLink="../team">
          <div class=" text-center">
            <img class="gspcardimage" src="../../assets/images/klein/team.jpg">
            <div class="gspcardtext">
              <span> {{'TEAM' | translate | uppercase}}</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <!-- TAETIGKEITSBEREICH -->
    <div class="col-xl-3 col-md-3 gspcolimagecenter">
      <div class=" border-0 ">
        <a routerLink="../taetigkeitsbereich">
          <div class=" text-center">
            <img class="gspcardimage" src="../../assets/images/klein/taetigkeitsbereiche_mergers.jpg" alt="...">
            <div class="gspcardtext">
              <span> {{'TAETIGKEITSBEREICH' | translate | uppercase}}</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <!-- International -->
    <div class="col-xl-3 col-md-3 gspcolimagecenter">
      <div class=" border-0 ">
        <a routerLink="../international">
          <div class=" text-center">
            <img class="gspcardimage" src="../../assets/images/klein/international_global.jpg" alt="...">
            <div class="gspcardtext">
              <span> {{'INTERNATIONAL' | translate | uppercase}}</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <!-- Kontakt -->
    <div class="col-xl-3 col-md-3 gspcolimagecenter">
      <div class="border-0 ">
        <a routerLink="../kontakt">
          <div class="text-center">
            <img class="gspcardimage" src="../../assets/images/klein/kontakt.jpg" alt="...">
            <div class="gspcardtext">
              <span> {{'KONTAKT' | translate | uppercase}}</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <!-- /.row -->

  <!-- /.container -->
</div>
<div class="gspparagraph gspparagraphBGColor">
  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-8">
        <p class="gsphometitlefont">{{'HOMEHEAD' | translate}} </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-9">
        <p>{{'HOMEP1' | translate}} </p>
        <p>{{'HOMEP2' | translate}} </p>
        <p>{{'HOMEP3' | translate}} </p>
      </div>
    </div>
  </div>
</div>
