<!-- Header -->
<div class=" container gsphomeheader">
</div>

<!-- Page Content -->
<div class="container" style="margin-top: 30px">
  <div class="row">
    <!-- Team -->
    <div class="col-xl-3 col-md-3 gsphomecolimageleft">
      <div class=" border-0 ">
        <a routerLink="routerLink/team">
          <div class=" text-center">
            <img class="gspcardimage" src="../../assets/images/klein/team.jpg">
            <div class="gspcardtext">
              <span> {{'TEAM' | translate | uppercase}}</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <!-- TAETIGKEITSBEREICH -->
    <div class="col-xl-3 col-md-3 gsphomecolimagecenter">
      <div class=" border-0 ">
        <a routerLink="routerLink/team">
          <div class=" text-center">
            <img class="gspcardimage" src="../../assets/images/klein/taetigkeit.jpg" alt="...">
            <div class="gspcardtext">
              <span> {{'TAETIGKEITSBEREICH' | translate | uppercase}}</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <!-- International -->
    <div class="col-xl-3 col-md-3 gsphomecolimagecenter">
      <div class=" border-0 ">
        <a routerLink="routerLink/team">
          <div class=" text-center">
            <img class="gspcardimage" src="../../assets/images/klein/globalmobility.jpg" alt="...">
            <div class="gspcardtext">
              <span> {{'INTERNATIONAL' | translate | uppercase}}</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <!-- Kontakt -->
    <div class="col-xl-3 col-md-3 gsphomecolimageright">
      <div class="border-0 ">
        <a routerLink="routerLink/team">
          <div class="text-center">
            <img class="gspcardimage" src="../../assets/images/klein/kontakt.jpg" alt="...">
            <div class="gspcardtext">
              <span> {{'KONTAKT' | translate | uppercase}}</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
<div class="container gspparagraph">
  <div class="row" style="background-color: lightsteelblue">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <p class="gsptitlefont">{{'HOMEHEAD' | translate}} </p>
      <p>{{'HOMEP1' | translate}} </p>
      <p>{{'HOMEP2' | translate}} </p>
      <p>{{'HOMEP3' | translate}} </p>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
